numpy
ipython
matplotlib
scipy

## an unreleased commit that will eventually make the 3.1.0 release, with
## type annotations which work on cached_property
#-e git+https://git@github.com/sphinx-doc/sphinx.git@5460ad6925199b57b27b7d059825d3560872edbb#egg=sphinx

ipykernel
nbsphinx
numba
sphinx-rtd-theme==2.0.0
sphinx_mdinclude

sphinx-markdown-tables
notedown
semantic-version
releases
sphinxcontrib-bibtex
nbsphinx-link

# the first release to support f-strings
pygments

# previous releases did not render our README badges correctly
recommonmark
